body{
    margin: 0;
    overflow: hidden;
    background-image: url("background.png");
    background-repeat: repeat;
}

#header {
    user-select: none;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 10px;
    box-shadow: grey 0px 10px 10px;
}

h2{
    color: white;
}

#menu{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 30%;
}

.menuItem{
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    font-family: 'Helvetica', sans-serif;
}

.dropGlobal:hover{
    background-color: rgb(50, 50, 50);
}

.menuDrop{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 140px;
    position: absolute;
    background-color: rgb(50, 50, 50);
    z-index: 1;
}

.dropGlobal:hover>.menuDrop{
    /* display: inline-grid; */
    visibility: visible;
}

.model{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.model:hover{
    background-color: rgb(80, 80, 80);
}

#logo{
    display: flex;
}

#logoLink{
    padding-top: 15px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', sans-serif;
}

#content-head{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: grey;
    padding-left: 10px;
    box-shadow: grey 0px 5px 4px;
    position: relative;
}

#model-name{
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Helvetica', sans-serif;
}

#content{
    display: flex;
    flex-direction: row;
}

#images{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex: 0 0 40%;
    height: inherit;
    justify-content: space-evenly;
}

.model-image{
    flex-shrink: 0;
    width: 60%;

}

#model-description{
    font-size: 30px;
    padding: 20px;
    text-align: justify;
    margin-right: 30px;
    font-family: 'Helvetica', sans-serif;
}

#welcome{
    width: 600px;
    height: 500px;
    background-color: white;
    opacity: 90%;
    border-radius: 5%;
    box-shadow: white 0px 0px 50px;
    user-select: none;
}

#welcome-logo{
    padding: 5%;
    width: 90%;
}

#welcome-message{
    padding: 0px 20px 0px 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
}